.bio-container {
    height: 70vh;
    /* height: max-content; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #CEDAC6; */
    /* margin: 10vh 4vw; */
}

.bio-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid pink */
}

.profile-image {
    height: 68%;
    width: 80%;
    object-fit: cover;
}


.bio-text {
    width: 50%;
    /* border: 1px solid pink */
}
