.classes-container{
    /* color: #CEDAC6; */
    color: #2A4C5E;
    /* z-index: 1000; */
    /* background-color: #59583A; */
    /* background-color: #596B4C; */
    /* background-color: #5D6725; */
    /* background-color: #294122; */
    /* background-color: #3D4435; */
    background-color: #8cabca48;
    /* position: absolute; */
    /* border: 1px solid black; */
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    /* border: 1px solid yellow; */
    padding: auto;
    position: relative;
}


.arrows {
    position: absolute;
    top: 133vh;
    /* height: 50%;
    transform: translateY(-100%);  */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mySlides {
    height: auto;
    display: flex;
    flex-direction: row;
    width: 82%;
    padding: 4vh;
}
.classes-image {
    width: 50%;
    display: flex;
    align-items: center;
}

.image {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.classes-info {
    height: 100%;
    width: 50%;
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 2%;
}
.prev, .next {
    cursor: pointer;
    /* margin-top: -22px; */
    padding: 1vw;
    color: #2A4C5E;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 99999999;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #2A4C5E;
    color:aliceblue
}

.classes-title {
    font-size: 15px;
    padding: 8px 12px;
    /* position: absolute; */
    /* bottom: 8px; */
    width: 100%;
    text-align: center;
}

.classes-btn {
    border: 1px solid #2A4C5E;
    width: fit-content;
    /* margin-left: 20vw; */
    padding: 1vh;
    border-radius: 2px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

.classes-btn:hover {
    background-color: #2A4C5E;
    color: aliceblue;
    cursor: pointer;
}

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .classes-description {

  }

  /* The dots/bullets/indicators */
  /* .dots {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }*/

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
