.footer-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  margin: 0;
  /* background-color: #546428; */
  background-color: var(--footerbg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.footer-links {
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
.footer-links a {
    margin: 0 2vh;
    color: #FFFFFF;
    text-decoration: underline;
}

.footer-links a:hover {
    /* margin: 0 2vh;  */
    color: #FFFFFF;
    /* text-decoration: underline; */
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex: 3;
}

.contact {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials {
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
