.hero-container{
    color: #3B0100;
    text-shadow: 0 0.1rem 0.2rem rgb(255, 247, 247);
    z-index: 1;
    /* position: absolute; */
    margin-top: 10vh;
    /* height: auto; */
    /* border: 1px solid black; */
    height: 90vh;
}

.titre {
    margin-top: 10vh;
    margin-left: 15%;
    /* text-align: center;
    padding-left: 20vw;
    padding-right: 10vw; */
}
.slogan {
    margin-left: 15%;
}
.challenge-btn {
    border: 1px solid #3B0100;
    width: fit-content;
    margin-left: 15%;
    padding: 1vh;
    border-radius: 2px;
}

.challenge-btn:hover {
    background-color: #3B0100;   
    color: aliceblue;
    text-shadow: none
}