.hero-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-shadow: 0 0.1rem 0.2rem black;
    z-index: 1;
    /* position: absolute; */
    margin-top: 10vh;
    /* height: auto; */
    /* border: 1px solid black; */
    /* height: 90vh; */
    text-align: right;
    margin-right: 10vw;
    /* border: 1px solid red; */
}

.titre {
    /* margin-top: 10vh; */
    /* text-align: center;
    padding-left: 20vw;
    padding-right: 10vw; */
}
.slogan {
    /* margin-left: 15%; */
}


.challenge-btn {
  border-radius: 2px;
  margin-top: 1vh;
}

.challenge-btn a {
  color: #FFFFFF;
  text-shadow: 0 0.1rem 0.2rem black;
  border: 1px solid #FFFFFF;
  width: fit-content;
  padding: 1vw;
  border-radius: 2px;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.challenge-btn a {
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;

}

.challenge-btn:hover, .challenge-btn a:hover {
  background-color: #FFFFFF;
  text-shadow: none;
  color: black;
  cursor: pointer;
}


/*
.challenge-btn {
    border: 1px solid white;
    width: fit-content;
    padding: 1vw;
    border-radius: 2px;
    margin-top: 1vh;
}
.challenge-btn a {
    color: white;
    text-shadow: 0 0.1rem 0.2rem black;
}


.challenge-btn:hover {
    background-color: white;
    color: black;
    text-shadow: none
}

.challenge-btn a:hover {
    background-color: white;
    color: black;
    text-shadow: none;
} */
