.home-container {
  display: flex;
  /* flex-grow: 1; */
  position: absolute;
  height: 307.5vh;
  top: 0;
  width: 100vw;
  /* background-color: #8cabca48; */
  background-color: var(--homebg);
}

.home-top-body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 100vw;
  height: 125vh;
  background-image: url('@assets/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  font-size: larger;
  /* overflow: scroll; */
  /* position: relative; */
}


.home-footer-container{
  position: absolute;
  bottom: 0;
}
/* .navbar {
  height: 10vh;
  width: 100vw;
  background-color: transparent;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  text-shadow: 0 0.1rem 0.2rem black;
  transition: background-color 0.5s ease;
}
.scrolling {
  background-color: #8cabca48;
} */

/* .home-top-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 125vh;
  z-index: 1;
} */

.home-bottom-body {
  position: absolute;
  top: 125vh;
  width: 100vw;
}
.grass-img{
  width: 100vw;
  height: 40vh;
  background-image: url('@assets/grass.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: 60px;
  /* margin: 2 auto; */
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem black;
}
.grass-img p {
  margin: 0;
}
