/*
.navbar {
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    text-shadow: 0 0.1rem 0.2rem black;
    transition: background-color 0.5s ease;

}

.scrolling {
    background-color: #8cabca48;
} */

.navbar {
  height: 10vh;
  width: 100vw;
  background-color: transparent;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  text-shadow: 0 0.1rem 0.2rem black;
  transition: background-color 0.5s ease;
}
.scrolling {
  background-color: #8cabca48;
  background-color: #95aec7c5;
  background-color: #2a4c5ebd;
}


.navbar-links, .navbar-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar-links button, .navbar-socials li, .navbar-links a  {
    margin: 0 2vh;
    color: #FFFFFF;
    text-shadow: 0 0.1rem 0.2rem black;
    background-color: transparent;
    border-width: 0;
    outline: none;
}

icon {
    font-size: large;
}

li:hover {
    cursor: pointer;
}

.navbar-links button:hover, .navbar-links li:hover, .navbar-links a:hover  {
    /* font-size: larger;*/
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
    border-width: 0;
}

.navbar-links button:focus,
.navbar-links button:active {
    border-width: 0;
    outline: none;
}

.navbar-challenge-btn a {
    color: #FFFFFF;
    text-shadow: 0 0.1rem 0.2rem black;
    border: 1px solid #FFFFFF;
    width: fit-content;
    padding: 1vh;
    border-radius: 2px;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
}

.navbar-challenge-btn a {
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;

}

.navbar-challenge-btn:hover, .navbar-challenge-btn a:hover {
    background-color: #FFFFFF;
    text-shadow: none;
    color: black;
    cursor: pointer;
}
