.terms-body {

    /* display: flex;
    position: absolute;
    top: 0;
    width: 100vw; */
    height: fit-content;
    background-color: #e6ebdf;

}

.navbar-container{
  /* height: fit-content; */
  /* display: flex; */
  background-color: var(--footerbg);
  height: 10vh;
  /* flex: 1; */
}

.terms-content {
  /* display: flex;
  flex: 1; */
  height: fit-content;
  /* height: max-content; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.terms-container{
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 4vh;
  background-color: white;
  /* display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  /* height: fit-content;
  flex: 1;*/
}

.terms-footer{

}

.cgu-title{
  margin-top: 0;
}

@media (max-width: 768px) {
  .privacy-container {
      padding: 10px;
  }
}
